# dependencies
/node_modules
/vendor
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
npm-debug.log

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.idea
*.pem
*.tar.gz
*.sass-cache*
*.log
*.swp
packaged/
wpcs/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/schema.json
