@font-face {
  ascent-override: 85%;
  descent-override: 15%;
  font-display: auto;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  line-gap-override: 0%;
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2');
}
