@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2');
  ascent-override: 85%;
  descent-override: 15%;
  line-gap-override: 0%;
}
