/* richtext */

@utility fp-richtext {
  @apply space-y-20 md:space-y-24 fp-text-body;

  & :is(h1, h2, h3, h4, h5, h6) :where(strong, b, span) {
    font-weight: inherit !important;
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    @apply font-heading text-white;
  }

  & :is(h1, h2, h3) {
    @apply mb-20 mt-36 xl:mb-26 xl:mt-54;
  }

  & :is(h4, h5, h6) {
    @apply mb-20 mt-32;
  }

  & :is(h1,h2) + :is(h2,h3,h4,h5) {
    @apply mt-20 xl:mt-26;
  }

  & h1 {
    @apply h2;
  }

  & h2 {
    @apply h2;
  }

  & h3 {
    @apply h3;
  }

  & h4 {
    @apply h4;
  }

  & h5 {
    @apply h5;
  }

  & h6 {
    @apply h6;
  }

  p {
    @apply mb-20 md:mb-24;
  }

  & :is(ul, ol) {
    @apply my-20 md:my-24 space-y-8;

    & > li > ol {
      list-style: decimal;
    }

    & :is(h1, h2, h3, h4, h5, h6) {
      @apply mt-0
    }
  }

  & ol {
    @apply space-y-20 md:space-y-32;
    counter-reset: list-item;

    li {
      counter-increment: list-item;
      @apply relative pl-44;

      &::before {
        @apply absolute left-0 top-0 size-32 flex items-center justify-center bg-contain font-mono text-16/none text-gray;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H32V32H0V0Z' fill='black' fill-opacity='0.1'/%3E%3Cpath d='M31.5 0.5V31.5H0.5V0.5H31.5Z' stroke='white' stroke-opacity='0.15'/%3E%3Cpath d='M27.5 31.5H31.5V27.5' stroke='%23DBA66D'/%3E%3Cpath d='M4.5 31.5H0.5V27.5' stroke='%23DBA66D'/%3E%3Cpath d='M27.5 0.5H31.5V4.5' stroke='%23DBA66D'/%3E%3Cpath d='M4.5 0.5H0.5V4.5' stroke='%23DBA66D'/%3E%3C/svg%3E");
        content: "0" counter(list-item);
      }

      &:nth-child(n+10) {
        &::before {
          content: counter(list-item);
        }
      }
    }
  }

  & ul {
    @apply pl-18 md:pl-24 *:pl-6 list-[square];

    li {
      @apply marker:text-accent
    }

    ul {
      @apply my-8
    }
  }

  & a:not(:is(.action, .action-outline, .ghost)) {
    @apply fp-link underline hover:no-underline;
  }

  & :not(pre) > code {
    @apply bg-black/10 px-1;
  }

  & pre {
    tab-size: 2;
    @apply overflow-x-auto rounded bg-transparent p-3 text-xs/relaxed;
  }

  & :is(blockquote, .wp-block-quote) {
    @apply py-32 xl:py-40 border-white/15 border-t border-b text-white my-40 xl:my-60 relative space-y-24 *:last:mb-0 *:first:mt-0 *:h4 *:relative *:z-10 relative;

    &:before {
      @apply content-[''] block w-40 h-28 bg-contain bg-no-repeat bg-center mb-24 xl:mb-32;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='28' viewBox='0 0 40 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_739_10156)'%3E%3Cpath d='M36.7059 0H28.2353L22.5882 11.2V28H39.5294V11.2H31.0588L36.7059 0ZM14.1176 0H5.64706L0 11.2V28H16.9412V11.2H8.47059L14.1176 0Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_739_10156'%3E%3Crect width='40' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &:after {
      @apply content-[''] block bg-pattern-wave pointer-events-none absolute inset-y-0 w-screen left-1/2 -translate-x-1/2 mask-y-from-60% mask-y-to-100% opacity-60;
    }
  }

  & table {
    @apply border-collapse;
    display: block;
    line-height: initial;
    overflow-x: auto;
    text-wrap: balance;

    & th,
    td {
      @apply py-6 px-12 border border-white/10;
    }

    & tbody {
      & tr:nth-child(odd) {
        @apply bg-white/4;
      }

      & tr th:first-child {
        text-align: left;
      }
    }
  }

  & video {
    width: 100%;
  }

  /* caption */
  figcaption {
    @apply text-sm mt-4;
  }

  /* Block indents */
  .wp-block-columns,
  .wp-block-video,
  .wp-block-quote,
  .wp-block-table,
  .wp-caption {
    @apply my-40 !w-full;
  }

  [class*="wp-image-"] {
    @apply my-40 xl:my-60;
  }

  .wp-block-columns {
    @apply gap-24;
  }

  .wp-block-column {
    @apply *:my-0!;
  }

  .wp-caption {
    @apply flex flex-col gap-12 md:gap-20;

    img {
      @apply my-0;
    }
  }

  .wp-caption-text, .wp-element-caption {
    @apply text-gray m-0
  }

  /* Embed */
  .wp-block-embed,
  iframe {
    @apply max-w-full my-40 w-full;

    video, iframe {
      @apply w-full h-full object-cover m-0 p-0;
    }
  }

  /* Gutenberg block */
  .wp-block-post-title {
    @apply !h1
  }

  .wp-block {
    *, *:after, &:before {
      box-sizing: border-box;
    }
  }

  /* Block quote */
  .wp-block-quote {
  }

  /* Video */
  .wp-block-video {
    @apply aspect-video w-full h-auto flex flex-col gap-12 md:gap-20;

    video, iframe {
      @apply aspect-video w-full h-auto object-cover;
    }
  }

  /* Image */
  .wp-block-image {
    @apply flex flex-col gap-12 md:gap-20 my-32 md:my-40 xl:my-60;

    img {
      @apply m-0 h-auto;
    }

    &.alignleft, &.alignright, &.aligncenter {
      @apply w-fit;
    }

    &.alignleft, &.alignright, &.aligncenter, &.alignwide, &.alignfull {
      @apply !float-none mx-auto block!;

      img {
        @apply !w-auto !float-none;
      }
    }

    &.alignleft {
      @apply mr-auto ml-0;
    }

    &.alignright {
      @apply ml-auto mr-0;
    }

    &.is-style-full-width {
      @apply relative md:p-16 bg-no-repeat lg:w-[calc(min(100vw,1440px)-120px)] lg:ml-[50%] lg:-translate-x-1/2;
      background-image: url("data:image/svg+xml,%3Csvg width='1320' height='757' viewBox='0 0 1320 757' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1303.5.5h16v16M16.5.5H.5v16M1303.5 756.5h16v-16M16.5 756.5H.5v-16' stroke='%23aaacaf'/%3E%3C/svg%3E");
      background-size: 100% 100%;

      img {
        @apply w-full max-w-none;
      }
    }
  }

  .wp-element-caption {
    @apply text-white/80 mt-0 *:!font-inherit;
  }


  & > :first-child {
    @apply !mt-0;
  }

  & > :last-child {
    @apply !mb-0;
  }
}

@utility fp-richtext-simple {
  @apply space-y-20 md:space-y-24;

  & > :first-child {
    @apply !mt-0;
  }

  & > :last-child {
    @apply !mb-0;
  }
}

@utility fp-richtext-career {
  h1, h2 {
    @apply h4;
  }

  & :is(h3, h4, h5) {
    @apply h5;
  }
}
