/* utilities */
@utility no-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility overflow-fade {
  --offset: 4rem;
  mask: linear-gradient(
    to right,
    transparent,
    black var(--offset),
    black calc(100% - var(--offset)),
    transparent
  );
}

@utility overflow-fade-r {
  --offset: 4rem;
  mask: linear-gradient(
    to right,
    black 50%,
    black calc(100% - var(--offset)),
    transparent
  );
}

@utility font-inherit {
  font: inherit;
}

@utility fp-wp-top {
  top: var(--wp-admin--admin-bar--height, 0px);
}

@utility fp-stretched-link {
  @apply after:absolute after:inset-0 after:z-10;
}
